.highlight {
	fill: #6baed6 !important;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 5px;
}

th, td {
	font-family: Tahoma;
	font-size: 10px;
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
	text-align: center;
}

tr.highlight {
	background-color: #ffff99;
}

tr.whiteBground {
	background-color: white;
}
circle.hidden {
	fill: blue;
}
